@font-face {
    font-family: Nexa;
    src: url("https://rawgit.com/sai3010/Aikya/master/css/Nexa%20Light.otf") format("opentype");
}

/*@font-face {
    font-family: ceviche;
    src: url("ceviche one.ttf") format("TrueType");
}*/

@font-face {
    font-family: Nexa;
    font-weight: bold;
    src: url("https://rawgit.com/sai3010/Aikya/master/css/Nexa%20Bold.otf") format("opentype");
}
#mainNav {
  font-family: Nexa;
  margin-bottom: 0;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 1);
}

#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  color: white;
  border: 1px solid white;
}

#mainNav .navbar-brand {
  font-weight: bold;
}

#mainNav a {
  color: white;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;
    border-bottom: none;
    background: transparent;
  }
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: black;
  }
  #mainNav .nav-link.active {
    outline: none;
    border-bottom: 2px solid #fff;
    transition: border-bottom 2s ease-in;
  }
  #mainNav .nav-link.active:hover {
    color: white;
  }
}


*{
	margin:0;
	padding:0;
	/*box-sizing: border-box;*/
	
}

nav{
	opacity: 0;
	margin-top: -50px;
	animation: 0.5s fadein 1s forwards;
}





/*.navbar-toggler{
	padding: 2px 0 !important;
}*/

@keyframes fadein{
	100%{
		opacity: 1;
		margin:0;
	}
}


.rns-logo{
	height: 70px;
}

.odometer{
  margin-top: -10px !important;
}

body{
  font-family:Nexa !important;
  color:#fff;
  background-color:#000;
}

.container{
  max-width: 100%;
}


@media only screen and (max-width: 500px){
  
  .rns-logo{
    height: 55px !important;
  }
}



section {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  
}

section:not(.intro):nth-child(even){
  background-color: #f5f5f5;
}

.intro {
  position: relative;
  justify-content: center;
  text-align: center;
  min-height: 100vh !important;
  color: #000;
  /*margin-bottom: 10px;*/
  padding: 100px auto 0 auto;
}

.intro .background-image {
  background-image:linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3072165d9511cc36da110d3416d6c44d&auto=format&fit=crop&w=1500&q=80');
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh !important;
  background-size: cover;
  z-index: -1;
  background-color: #80a3db;
}

@media only screen and (max-width: 500px){
  .intro .background-image{
    background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('https://images.unsplash.com/photo-1510751007277-36932aac9ebd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8b38707ab03efa2c9c0631400add389a&auto=format&fit=crop&w=1577&q=80');
  }
}

.intro h5{
  color:#fff;
  font-size: 1.5em;
  font-family: Nexa;
  font-weight: normal;
}

.intro h1 {
  margin:5px auto;
  font-family: Nexa;
  color:#fff;
  text-shadow: 10px 4px 20px #000;
  font-size: 8em;
  font-weight: bold;
}

.btn-circle{
  margin:5px auto;
}

.animated {
  animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

@media only screen and (max-width: 500px){
  .intro h5{
    margin-top: 105px;
    font-size: 0.75em;
  }
  .intro h1{
    font-size:4.5em;
  }
}

.intro-content-area {
  opacity: 0;
  margin-top: 100px;
  animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
  100% {
    opacity: 1;
    margin: 0;
  }
}

.btn{
  padding:10px 0 !important;
}

.btn-circle {
  font-size: 26px;
  width: 55px;
  height: 55px;
  margin-top: 15px;
  line-height: 45px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  color: white;
  border: 2px solid white !important;
  border-radius: 100% !important;
  background: transparent;
}

.btn-circle:focus, .btn-circle:hover {
  color: white;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
}

.car{
   height: 100vh;
}

.car .carousel{
  margin-top:250px;
  width: 90%;
  
  overflow:hidden !important;
}

.img-fluid{
  width: 100% !important;
  object-fit: cover;
  height: 350px !important;
  opacity: 0.8;
  background: #333;
}

.carousel h5{
  text-transform: uppercase;
  text-shadow: 4px 4px 4px black;
}
.carousel p{
  text-transform: uppercase;
  text-shadow: 4px 4px 4px black;
}

@media only screen and (max-width: 500px){
  .car{
    margin-top: -150px;
    height: auto;
  }
  .car .carousel{
    width: 100%;
  }

  .img-fluid{
    object-fit: cover;
    height:250px !important;
    z-index: -9999 !important;
  }
}

.event{
  margin-top: 100px;
}

.event h3{
  margin-top: 50px;
}

.thumbnail{
  padding: 0 !important;
  margin: 50px 10px;
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.thumbnail img{
  width:100%;
  height: 175px;
}

.btn-primary{
  background-color: #000 !important;
  border-radius: 0 !important;
  border:none !important;
  font-weight: bold !important;
  outline: none !important;
}

.btn-primary:hover{
  background-color:rgba(44, 62, 80, 0.6) !important;
  transition: all 0.2s ease-in-out;
}

.btn-primary:focus{
  background-color:rgba(44, 62, 80, 0.4) !important;
  transition: all 0.2s ease-out;
  border:none !important;
}

.caption h5{
  padding: 10px 2px 0 2px;
  text-transform: uppercase;
  font-size: 1em;
}


.btn-primary,.btn{
  box-shadow: none !important;
}

.animatedM{

  background-color: #fff !important;
  width: 100% !important;
  margin:0 auto !important;
  height: 100vh !important;
}

.anime{
  text-align: center;
  margin-top: 15px;
}

.fa-times-circle{
  color:#000;
  cursor: pointer;
}

.modal-content{
  background-color: #fff !important;
}

.modal-content img{
  width: 300px;
  height: 300px;
  margin: 15px auto;

}

.modal-content p{
  text-align: center;
  margin:5px 30px;
  font-weight: normal;
}

.modal-content table td{
  text-transform: uppercase;
  width: 50%;
  padding:5px 75px;
}

table{
  margin:15px auto;
  font-weight: normal;
}

@media only screen and (max-width: 500px){
  .modal-content img{
    width: 70%;
    height: 150px;
  }
  .model-content p{
    margin:15px 5px !important;
  }
  .thumbnail img{
    height: auto;
  }

  .modal-content table td{
  width: 50%;
  padding:5px 15px;
  }
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color:#fff;
  padding: 20px 0;
}



footer p a{
  text-decoration: none;
  color:#fff;
  padding: 0 15px;
}

footer p a:hover{
  color:#555;
}

#btop
{
  color: white !important;
}

footer p{
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  opacity: 0.9;
  align-self: center;
}

footer p strong{
  letter-spacing: 1px;
}

@media (max-width: 500px){
  .past .grid li.small,.past .grid li.large{
    flex-basis: 100%;
  }
  footer{
    flex-direction: column;
  }
  footer p{
    text-align: center;
    margin-bottom: 20px;
  }
  footer ul li{
    margin: 0 8px;
  }
  
}